---
import Nav from "../components/Nav.astro";
import "../styles/main.css";

const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap"
			rel="stylesheet"
		/>

		<meta name="description" content={frontmatter.description} />
		<title>{frontmatter.title}</title>
	</head>
	<body>
		<main>
			<h1>{frontmatter.title}</h1>
			<slot />
		</main>
	</body>
</html>
